.FooterBar {
  border-top: 1px solid rgba(88, 88, 88, 0.103);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5.5rem;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1.5rem;
  background-color: white;
}

@media only screen and (max-width: 700px) {
  .FooterBar {
    display: flex;
  }
}

.FooterBar__icon {
  font-size: 2.8rem;
  color: var(--color-grey-dark);
  transition: all 200ms;
  transform: skewY(20deg);
}

.lrg {
  font-size: 4.6rem;
  color: var(--color-orange);
  margin-top: 5rem;
}

.mob-active {
  color: black;
  border-top: 3px solid black;
  padding-top: 0.7rem;
}

.rotate {
  transform: rotate(30deg);
  transition: all 200ms;
}

.FooterBar__sign-out:hover {
  cursor: pointer;
}
