:root {
  --color-orange: rgb(207, 102, 3);
  --color-grey-light: rgb(238, 238, 238);
  --color-grey-dark: rgb(71, 71, 71);
  --font-title: "Luckiest Guy", cursive;
}

/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

h1 {
  font-family: var(--font-title);
  font-size: 4rem;
}

a {
  text-decoration: none;
}

.row>* {
  padding-right: 0 !important;
  padding-left: 0 !important;
}