@import "./padding.scss" ;
@import "./margin.scss" ;
@import "./tooltips.scss";
@import "./positioning.scss";

html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}
// Theme
.primary-color {
  color: var(--primary-color);
}

.primary-bg {
  background-color: var(--primary-color) !important;
}

a {
  text-decoration: none;
}

// Text
.text-center {
  text-align: center;
}

fieldset {
  border: none;
}